<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEACHERS</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <style type="text/css">


    </style>
</head>
<body>
    {% include '_header_menu.html' %}

    <div class="container">
        {% block main %}
        {% endblock %}
    </div>
</body>
</html>
