{% extends 'base.html' %}

{% block main %}
    <form method="post">
        <p>Do you want to delete teacher {{ teacher.name }}?</p>
        <p>
            <button class="btn btn-danger" type="submit">Delete</button>
            <a class="btn btn-info" href="{% url 'teachers:list_teachers' %}">Cancel</a>
        </p>
    </form>
{% endblock %}
