{% extends 'base.html' %}

{% block main %}
    <form>
        <p>Search teachers</p>
        {{ filter.form.as_p }}
        <p>
            <button type="submit">Search</button>
        </p>
    </form>
    <br>
    <a href="{% url 'create_teachers' %}">Add new teacher</a><br>

    <p id="main-paragraph">Text 1</p>
    <p> <strong class="text-red">Text 2</strong></p>
    <table class="table table-striped">
        <tr>
            <th><strong>First Name</strong></th>
            <th class="text-red border-blue">Last Name</th>
            <th>INN</th>
            <th></th>
        </tr>

        {% for teacher in filter.qs|slice:":20" %}
            <tr>
                <td>{{ teacher.first_name|capfirst }}</td>
                <td>{{ teacher.last_name|title }}</td>
                <td>{{ teacher.inn }}</td>
                <td>
                    <a href="{% url 'teachers:update_teachers' id=teacher.id %}">✎</a>
                    <a href="{% url 'teachers:delete_teachers' id=teacher.id %}">🗑</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
